/* *RESET */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/* border: 1px dashed #292929; */
}

/* *UTILS */

.container {
	margin: 0 auto;
	padding: 0 10px;
	width: 1000px;
	max-width: 100%;
}

body {
	font-family: 'Poppins', sans-serif;
}

a {
	text-decoration: none;
	color: black;
}

ul {
	list-style: none;
}

img {
	display: block;
	max-width: 100%;
}

/* *HEADER */
header {
	background-color: #ffffff;
	padding: 5px 20px;
	display: flex;
	justify-content: space-between;
}

header ul {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 15px;
}

header ul li a {
	padding: 5px 10px;
}

.btn a {
	background-color: #0061ff;
	color: white;
	padding: 6px 15px;
}

/* *HERO */
.hero .container {
	width: 1200px;
}

.hero {
	background-color: #b4d0e7;
	padding-bottom: 20px;
}

.hero-col {
	display: flex;
}

.hero h1 {
	font-size: 5rem;
	font-weight: 800;
	padding: 50px 0px 30px;
}

.hero .left-col {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-size: 1.1rem;
	margin-right: 20px;
}

.hero span i {
	font-size: 4rem;
}

.hero .right-col img {
	position: relative;
	transform: scale(1.2);
	top: 40px;
	left: 50px;
}

/* *MAIN */

/* *PLANS SECTION */
.plans-container {
	margin-top: 150px;
}

.plans-container h2 {
	font-size: 2.5rem;
	margin-bottom: 50px;
}

.plans-container span {
	margin-right: 40px;
}

/* *CARD */
.cards-container {
	display: flex;
	justify-content: space-between;
	gap: 40px;
}

.card {
	flex-grow: 1;
	border: 1px solid lightgray;
	margin-top: 40px;
}

.card-head {
	text-align: center;
	padding: 10px;
	border-bottom: 1px solid lightgray;
}

.card-body {
	display: flex;
	flex-direction: column;
	padding: 30px 30px 0px;
}

.card-body h3 {
	font-size: 1.7rem;
}

.card-body span.price {
	font-weight: 700;
	margin: 20px 0px 10px;
	font-size: 0.9rem;
}

.card-body span.period {
	color: gray;
	font-size: 0.9rem;
}

.card-body ul.plan-advantages-list {
	margin-block: 40px;
}
.card-body ul li {
	margin-block: 10px;
	font-size: 0.9rem;
}

.card-body .btn {
	font-size: 0.9rem;
	text-align: center;
	background-color: #0061ff;
	padding: 6px 15px;
	margin-bottom: 20px;
}

.card-body .btn a {
	padding: 0px;
	background-color: transparent;
}

.card-body hr {
	width: 30%;
	margin-block: 30px;
}

.card-body span a.buy-now {
	text-decoration: underline;
	color: #0061ff;
}

.card-body span.highlights {
	font-weight: 800;
}

.card-body ul.highlights-list {
	margin-block: 20px;
}

.card-body ul {
	margin-left: 15px;
}

.card-body ul li.user-icon::marker {
	content: '\f007   ';
	font-family: FontAwesome;
}
.card-body ul li.folder-icon::marker {
	content: '\f07b   ';
	font-family: FontAwesome;
}
.card-body ul li.share-icon::marker {
	content: '\f1e0   ';
	font-family: FontAwesome;
}
.card-body ul li.users-icon::marker {
	content: '\f0c0   ';
	font-family: FontAwesome;
}

.card-body ul.highlights-list li::marker {
	content: '\   ';
	font-family: FontAwesome;
	color: #0061ff;
}

/* *SEPARATED PLAN */
.separated-plan .card-body {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.separated-plan .left-col {
	width: 70%;
}

.separated-plan .left-col .description {
	font-size: 0.8rem;
	margin-block: 30px;
}
